.form-container {
    margin: 50px auto auto auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.article-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.article-form label {
    font-size: 1em;
    color: #32c665;
}

.article-form input[type="text"],
.article-form textarea,
.article-form input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    resize: none;
}

.article-form button {
    padding: 10px;
    background-color: #32c665;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    align-self: flex-end;
}

.article-form button:hover {
    background-color: #32c665;
}
