<!doctype html>
<html lang="fr" xmlns:input="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modifier un article</title>
</head>
<body>
<form action="" enctype="multipart/form-data" method="post">
    <label> Nom de l'article :
        <input type="text" name="title"></label>
    <label> Image :
        <input type="file" name="image"></label>
    <label> Contenu de l'article :
        <input type="text" name="content"></label>
    <input type="submit" name="modify" value="Modifier l'article">
</form>
</body>
</html>